page-profile {

}

.centre-text{
    text-align: center;
}

.centre-grid {
    text-align: left;
    padding-top: 30px;
}

.row-margin{
    margin: 5px;
}

.right-grid{
    text-align: right;
}

.left-grid{

    color:rgb(116, 116, 185)
}
.button-center {
    margin: 30px;
    text-align: center;
}
    
* {
    color:var(--color)
}    