page-list {

}

.inputIntroYourself {
    max-width: 75%;
    margin: auto auto;
}

.dateIntroYourself {
    max-width: 75%;
    margin: 30px auto;
}

.button-center {
    margin: 30px;
    text-align: center;
}
